
/* general style
*/

html {
  height: 100vh;
  // constant variable
  --primary-constant: #ce3cba;
  --secondary-constant: #080ab4;
  --error-constant: #d2190b;


  ---btn-height: 4rem;
  // theme related dynamic variables are in theme service
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 1;

  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100vh;
}


a {
  text-decoration: none;
}


