.root {
  border-radius: .6rem;
  background-color: var(--background-color);
  padding: 2rem 1rem;
  box-shadow: 0 0 10px 0 rgba(218, 220, 224, 0.5);
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 30% auto;
  min-height: 17rem;
}
//aside
.img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar{
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  background-color:#DDDDDD;

}
.names{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-weight: 600;
  font-size:1.6rem;
}

//main
.bio{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.5rem;
}


.links{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  max-height: 5.5rem;
}
.link{
  padding: .5rem 0;
}
.desc{
  padding: 1rem 0;
  font-size: 1.4rem;
}

p{
  margin: 0;
}
//override default material label width
::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 10rem!important;
}
::ng-deep.mat-tab-label{
  height: 4rem!important;
  color:var(--text-color) !important;
  font-size: 1.3rem !important;
}
::ng-deep.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  line-height: 2rem;
}

$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1s;

.loaded{
  .avatar{
    width: 10rem;
    height: 10rem;
    animation: shine-avatar .8s infinite ease-in-out;
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  }
  p{
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
    animation: shine-lines .8s infinite ease-in-out;
    height: 1.5rem;
    border-radius: .3rem;
    color: transparent;
  }
  .names{
    p{
      background-color:#EAEAEA;
      width: 4rem;
      height: 2rem;
      border-radius: .6rem;
    }

  }


  @keyframes shine-lines{
    0%{
      background-position: -5rem;
    }
    40%, 100%{
      background-position: 30rem;
    }
  }


  @keyframes shine-avatar{
    0%{
      background-position: -5rem;
    }
    40%, 100%{
    background-position: 15rem;
    }
  }

}
