<article class="root loaded"
     [ngClass]="{'loaded': state !=='hasData'}">
    <aside class="img">
      <img class="avatar" [src]="datum.avatar" />
      <div  class="names">
        <p>{{datum.firstName}}</p>
        <p>{{datum.lastName}}</p>
      </div>
    </aside>
    <main class="bio">
        <p>{{datum.jobTitle}}</p>
        <p>{{datum.company.name}}</p>
      <mat-tab-group class="tabs">
        <mat-tab
          class="label"
          label="Job description">
          <p class="desc">
            {{datum.jobDescription}}
          </p>
        </mat-tab>
      <mat-tab
          label="more people">
          <div class="links">
            <button mat-button
              class="link"
               *ngFor="let person of datum.company.people"
            >
              {{  person.firstName}} {{  person.lastName}}

            </button>
          </div>

        </mat-tab>
      </mat-tab-group>
    </main>

</article>


