
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% auto;
  contain: content;
}
.img{
  width: 25rem;
  object-fit: cover;
}
/*main*/

.log__main {

}

/*  page title */
.page__title {
  z-index: 99;
  font-size: 30px;
  position: fixed;
  left: 4rem;
}

// apply color while transitioning
.dark {
  color: var(--text-primary);
}
.light {
  color: white;
}

//main
.content__title {
  color: var(--text-primary);
  font-size: 3rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:  calc( 100vh - 15rem);
}

.form {
  width: 45%;
  margin: 0 auto;
}

/*aside */
.theme {
  padding: 20px 30px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 20px;
  top: 0;
}

.log__aside {
  display: flex;
  background-image: linear-gradient(135deg, #6d0eb1 59%, #080ab4 100%);
  color: white;
}

.aside_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aside_title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 2;
  margin: 0;
}

.aside_subtitle {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.aside_text {
  padding: 1.5rem 0 3rem;
  font-size: 1.6rem;
  max-width: 25ch;
  line-height: 1.5;
}

.toggle_btn {
  background-color: var(--primary-constant);
  color: white;
  width: 30rem;
  height: var(---btn-height);
}

/*animation*/
.applyAnim {
  .translateMain {

    animation: slideMain 1s ease-in-out forwards;
  }

  .resetTranslateMain {

    animation: resetSlideMain 1s ease-in-out forwards;
  }

  .translateAside {
    animation: slideAside 1s ease-in-out forwards;
  }

  .resetTranslateAside {
    animation: resetSlideAside 1s ease-in-out forwards;

  }
}


@keyframes slideMain {
  0% {
    transform: translateX(0%);

  }
  100% {
    transform: translateX(80%);
  }
}

@keyframes resetSlideMain {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideAside {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
  }
}

@keyframes resetSlideAside {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}


