<div
  *ngIf="position$ | async as position"
  [ngClass]="{ reversed: position.isTranslated, applyAnim: position.dirty }"
>
  <section
    class="container"
    *ngIf="loginType$ | async as login"
    [ngClass]="login === 'signup' ? 'light' : 'dark'"
  >
    <main class="log__main">
      <h1 class="page__title" data-page_title="page-title">
        Ng graph
      </h1>
      <div
        class="content"
        [ngClass]="
          position.isTranslated ? 'translateMain' : 'resetTranslateMain'
        "
      >
        <img class="img" src="/assets/img/undraw_visualization_c2ps.svg">
        <h2 class="content__title">{{ login }}</h2>
        <div class="form">
          <signin [loginType]="loginType$ | async"></signin>
        </div>
      </div>
    </main>
    <aside
      class="log__aside"
      [ngClass]="
        position.isTranslated ? 'translateAside' : 'resetTranslateAside'
      "
    >
      <div class="theme">
        <theme-toggle></theme-toggle>
      </div>
      <div class="aside_content">
        <h2 class="aside_title">
          Hello there !
        </h2>

        <h3 class="aside_subtitle">
          {{ toggleLogin(login, 'asideTitle') }}
        </h3>
        <p class="aside_text">
          {{ toggleLogin(login, 'content') }}
        </p>
        <button mat-flat-button class="toggle_btn" (click)="toggle(position)">
          {{ toggleLogin(login, 'toggleBtn') }}
        </button>
      </div>
    </aside>
  </section>
</div>
