
<cdk-virtual-scroll-viewport
  class="list"
  itemSize="250"
  (scrolledIndexChange)="loadMore($event)"
  >
  <list-actions></list-actions>
  <div class="item"
    *cdkVirtualFor="let row of dataState.data"
   >
    <app-row
      [state]="dataState.state"
      [row]="row"></app-row>
  </div>
</cdk-virtual-scroll-viewport>
