
.btn {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 0.6rem;
  flex-direction: column;
  width: 95%;
}

.success {
  background-color: #10cfbd;
  color: white;
}

.error {
  background-color: red;
  color: white;
}

button {
  &:active {
    background-color: darkblue;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: darkblue;
}

.txt {
  color: white;
}
