<ng-container *ngIf="stateMap[state] as btn">
  <button
    mat-flat-button
    [ngClass]="btn.className + ' ' + btn.className"
    [disabled]="valid === 'INVALID'"
    class="btn"
    [type]="type"
    [ngStyle]="btnStyle"
  >
    <mat-spinner [diameter]="20" color="warn" *ngIf="btn.isPending"></mat-spinner>
    <span class="txt">{{ btn.txt }}</span>
    <mat-icon class="btn__icon" *ngIf="btn.isDone"> {{ btn.icon }} </mat-icon>
  </button>
</ng-container>
