.content {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.pulse {
  margin-left: 1.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  animation: scaleout 1.0s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
