
<form action="" novalidate class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form_group" *ngIf="isSignup$ | async">
    <input
      matInput
      formControlName="username"
      placeholder="username"
      name="username"
      class="form-input"
      type="string"
      data-testid="username"
      autocomplete="username"
    />
    <input-error *ngIf="form.get('username') as userCtrl"
                 data-user_err="error__username"
                 [showError]="isErrorVisible(userCtrl)"
                 [errorMsg]="setErrorMessage(userCtrl.errors)"
    ></input-error>
  </mat-form-field>
  <mat-form-field class="form_group">
    <input
      matInput
      formControlName="email"
      placeholder="email"
      name="username"
      class="form-input"
      type="email"
      data-testid="email"
      autocomplete="email"
    />
    <input-error *ngIf="form.get('email') as emailCtrl"
                 data-user_err="error__username"
                 [showError]="isErrorVisible(emailCtrl)"
                 [errorMsg]="setErrorMessage(emailCtrl.errors)"
    ></input-error>
  </mat-form-field>
  <mat-form-field class="form_group">
    <input
      formControlName="password"
      matInput
      name="password"
      placeholder="password"
      class="form-input"
      type="password"
      data-testid="pwd"
      autocomplete="“current-password”"
    />

    <input-error *ngIf="form.get('password') as pwdCtrl"
                 data-pwd_err="error__pwd"
                 [showError]="isErrorVisible(pwdCtrl)"
                 [errorMsg]="setErrorMessage(pwdCtrl.errors)"
    ></input-error>
  </mat-form-field>
  <mat-form-field class="form_group" *ngIf="isSignup$ | async">
    <input
      formControlName="confirm"
      matInput
      name="confirm"
      placeholder="confirm"
      class="form-input"
      type="password"
      data-testid="confirm"
    />

    <input-error *ngIf="form.get('confirm') as confirmCtrl"
                 data-pwd_err="error__pwd"
                 [showError]="isErrorVisible(confirmCtrl)"
                 [errorMsg]="setErrorMessage(confirmCtrl.errors)"
    ></input-error>
  </mat-form-field>


  <div class="form_submit">
    <submit-btn
      [state]="formState$ | async"
      [isValid]="(form.statusChanges | async)==='VALID'"
    ></submit-btn>
  </div>
</form>

