
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-primary)
}

.form_submit {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}


//
.form_group {
  position: relative;
  font-size: 1.5rem;
}



