<button
  *ngIf="user$ | async as user"
  mat-button
  (click)="toggle()"
  class="btn"
  cdkOverlayOrigin
>
  <img [src]="user.avatar"
       class="avatar">
  <span>{{ user.userName }}</span>
</button>



