:host {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}


.avatar {
  width: 3rem;
  border-radius: 1.5rem;
  object-fit: cover;
  margin-right: 1rem;
}

.position {
  background-color: red;
}
