<ng-container *ngIf="btnState$ | async as btnState">
  <button [disabled]="!isValid"
          data-testid="submit"
          class="submit_btn"
          type="submit"
          mat-flat-button
          [ngClass]="btnState"
  >
    <ng-template #content></ng-template>
  </button>
</ng-container>

