.submit_btn {
  width: 100%;
  color: white;
  height: var(---btn-height);
  --transition-btn: #b3b3b3;
}

.unauthorized {
  background-color: var(--primary-constant);
}

.authorizing {
  pointer-events: none;
  background-color: var(--transition-btn);
}

.authorizingFailed {
  pointer-events: none;
  background-color: var(--error-constant);
}
.authorized {
  pointer-events: none;
  background-color: var(--primary-constant);
}
