<h2 class="title"> Edit your profile</h2>
<section class="content">

  <div class="info">
    <img class="img"
      src="/assets/img/undraw_profile_data_mk6k.svg">
    <p class="update">
      update your user info
    </p>
  </div>
  <div class="form">
    <edit-profile-form [user]="user$ | async"></edit-profile-form>

  </div>
</section>

