.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top:5rem;
}

.title {
  font-size: 2.5rem;
  color: inherit;
  text-align: center;
}
.form{
  padding: 0 5rem;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}
.img{
  width: 70%;
  object-fit: cover;
}
.update{
  padding-top: 2rem;
  color: inherit;
  font-size: 2rem;
  font-weight: 500;
  align-self: center;
}
