
:host {
  display: flex;
  flex: 1;
  height: 100%;
}

.content {
  text-align: center;
  color: inherit;
  align-self: center;
  width: 100%;
}
.img{
  padding-top: 5rem;
  width: 50%;
  object-fit: cover;
}
.title {
  font-size: 6rem;
}

.text {
  font-size: 2.5rem;
}
