<div
  class="content">
  <img class="img" src="/assets/img/undraw_page_not_found_su7k.svg" />

  <h2
    class="title">
    Page not found
  </h2>
  <p
    class="text">
    ..oopsy, the page you requested was not found
  </p>
  <a
    class="link"
    mat-flat-button
    routerLink="/app/">
    back to home
  </a>
</div>
