<mat-action-list>
  <button
    class="btn"
    mat-list-item
    (click)="profile()">
    profile
  </button>
  <button
    class="btn"
    mat-list-item
    (click)="logout()">
    logout
  </button>
</mat-action-list>
