.root {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
}

.title {
  font-size: 2.3rem;
  padding: 0 3rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
