<nav class="root">
  <a
    class="title"
    mat-button
    routerLink="/app/">
    NG Graph
  </a>
  <div class="actions">
    <user-action></user-action>
    <theme-toggle></theme-toggle>
  </div>

</nav>

