<form class="search_form">
  <mat-form-field class="search_section" appearance="outline">
    <input type="text"
           placeholder="search in name"
           aria-label="search by name"
           matInput
           [formControl]="searchCtrl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.firstName+' '+option.lastName">
          {{option.firstName }}, {{option.lastName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
