.form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  min-width: 35rem;
}

.form_group {
  padding-bottom: 1rem;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  min-height: 4rem;
  font-size: 1.4rem;
}

.error {
  font-size: 1.3rem;
  color: var(--error-constant);
}

.avatar {
  width: 5rem;
  border-radius: 2.5rem;
  object-fit: cover;
}

.preview {
  background-color: rgba(0, 0, 0, .03);
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: .6rem;
}

.preview-content {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
