<form
  action=""
  novalidate
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="form_group" appearance="outline">
    <mat-label>user name</mat-label>
    <input
      matInput
      formControlName="userName"
      placeholder="userName"
      name="userName"
      class="form-input"
      type="string"
      data-testid="userName"
    />
    <mat-error
      class="error"
      *ngIf="form.get('userName').hasError('required')">
      Please enter a username
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form_group" appearance="outline">
    <mat-label>first name</mat-label>

    <input
      matInput
      formControlName="firstName"
      placeholder="first name"
      name="first name"
      class="form-input"
      type="string"
      data-testid="firstname"
    />
  </mat-form-field>
  <mat-form-field class="form_group" appearance="outline">
    <mat-label>last name</mat-label>

    <input
      matInput
      formControlName="lastName"
      placeholder="last name"
      name="last name"
      class="form-input"
      type="string"
      data-testid="lastname"
    />
  </mat-form-field>
  <mat-form-field class="form_group" appearance="outline">
    <mat-label>avatar</mat-label>
    <input
      matInput
      formControlName="avatar"
      placeholder="avatar"
      name="avatar"
      class="form-input"
      type="string"
      data-testid="avatar"
    />
    <mat-error
      class="error"
      *ngIf="form.get('avatar').hasError('notUrl')">
      Please enter a valid img link
    </mat-error>
  </mat-form-field>


  <div class="preview">
    <div class="preview-content">
      <p>
        Preview your avatar image
      </p>
      <img *ngIf="isImgValid$ | async "
           [src]="form.get('avatar').value"
           class="avatar">
    </div>
  </div>

  <button
    [disabled]="form.invalid"
    class="btn"
    mat-flat-button
    color="secondary"
    type="submit">
    update
  </button>
</form>
