<ul class="list" *ngIf="(sort$ | async) as sort ">
  <li class="item">
    <button
      mat-button
      (click)="sortBy('_id', sort)"
      [ngClass]="{'selected':  sort.key==='_id'}"
      class="btn">
      id
      {{ sort.key }}
      <mat-icon class="icon" aria-hidden="false" aria-label="sort person list">
        {{this.sort.key==='_id' && this.sort.order==='desc'?'arrow_downward': 'arrow_upward'}}
      </mat-icon>

    </button>
  </li>

  <li class="item">
    <button
      mat-button
      (click)="sortBy('lastName', sort)"
      [ngClass]="{'selected':  sort.key==='lastName'}"
      class="btn">
      Name
      <mat-icon  class="icon" aria-hidden="false" aria-label="sort person list">
        {{this.sort.key==='lastName' && this.sort.order==='desc'?'arrow_downward': 'arrow_upward'}}
      </mat-icon>
    </button>
  </li>

  <li class="item">
    <button
      mat-button
      (click)="sortBy('jobTitle', sort)"
      [ngClass]="{'selected':  sort.key==='jobTitle'}"

      class="btn">
      Job
      <mat-icon  class="icon" aria-hidden="false" aria-label="sort person list">
        {{this.sort.key==='jobTitle' && this.sort.order==='desc'?'arrow_downward': 'arrow_upward'}}
      </mat-icon>
    </button>
  </li>

</ul>
