.list{
  list-style: none;
  background: var(--background-color);
  box-shadow: 0 0 10px 0 rgba(218, 220, 224, 0.5);
  padding: 10px;
}
.item{
  padding: 10px 0;
  text-align: left;
}
.btn{
  font-size: 1.5rem;
  color: inherit;
  width: 100%;
  height: 3.5rem;
  &:hover{
    .icon{
      opacity: 1;
    }
  }
}
.icon{
  transform: scale(.8);
  opacity: 0;
}
.selected{
  color: var( --primary-color);
}
