.head{
  display: flex;
  padding-top: 2rem;
}
.content{
  padding: 1rem 3%;
}
.titles{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.form{
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
}
.title{
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
}
.img{
  width: 15rem;
  object-fit: cover;
}
.list-actions{
  display: flex;
  justify-content: flex-end;
}
