<header class="head">
  <div class="titles">
    <h2 class="title">linkedinish app</h2>
    <img class="img" src="/assets/img/undraw_share_link_qtxe.svg">
  </div>
  <div class="form">
    <app-auto-complete></app-auto-complete>
  </div>
</header>
<section class="content">

  <person-list
    [dataState]="dataState$ | async"
   (onRefetch)="refetch($event)"></person-list>
</section>
